* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: var(--black);
}

:root {
  --apricot: #fe9f8e;
  --pink: #e36da3;
  --black: #212b36;
}
