.profile-data {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.profile-data__picture {
  height: 150px;
  border-radius: 100px;
  margin: 50px 0;
}

.profile-data__name {
  display: flex;
  align-items: center;
  color: var(--pink);
  font-size: 24px;
}

.aboutyou {
  display: flex;
  justify-content: center;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container__logout {
  padding: 12px;
  margin: 25px 0 20px 0;
  border: none;
  border-radius: 25px;
  background-color: var(--pink);
}
