.card__show-answer {
  display: flex;
  justify-content: center;
}

.card__show-answer__button {
  padding: 12px;
  margin: 25px 0 20px 0;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  background-color: var(--pink);
}

.card__show-answer__answer {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-size: 14px;
}

.card__show-answer__answer--hidden {
  display: none;
}
