.bookmark-button {
  width: 45px;
  height: 45px;
  position: absolute;
  top: -15px;
  right: -5px;
  border: none;
  background: transparent;
  fill: none;
  stroke: var(--pink);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 32;
}

.bookmark-button--filled {
  fill: var(--pink);
}
