.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  background-color: var(--apricot);
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
}

.navbar__item {
  list-style: none;
}

.navbar__button {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 32;
}

.navbar__button__home--active {
  fill: white;
}

.navbar__button__bookmark--active {
  fill: white;
}

.navbar__button__create--active {
  fill: white;
}

.navbar__button__profile--active {
  fill: white;
}

.navbar__button__home--inactive {
  fill: none;
}

.navbar__button__bookmark--inactive {
  fill: none;
}

.navbar__button__create--inactive {
  fill: none;
}

.navbar__button__profile--inactive {
  fill: none;
}
