.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  background-color: var(--apricot);
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
}

.navbar__item {
  list-style: none;
}

.navbar__button {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
}

.navbar__button__icon {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 32;
}
