@import "./questioncard_tags.css";
@import "./show-answers.css";
@import "./bookmark-button.css";

.card {
  background-color: #fec1d7;
  border-radius: 15px;
  margin: 30px 20px;
  padding: 20px;
  position: relative;
}
