.card__taglist {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px 0 5px 0px;
}

.card__taglist__item {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: var(--yellow);
}
