@import './tags.css';
@import './show-answers/show-answers.css';
@import './bookmark/bookmark.css';

.card {
  background-color: white;
  border-radius: 15px;
  margin: 30px 20px;
  padding: 20px;
  position: relative;
}
