.card__show-answers {
  display: flex;
  justify-content: center;
}

.card__show-answers__button {
  padding: 12px;
  margin: 20px 5px;
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #fef9c1;
}
